footer {
    margin-top: 0;
    padding: 2rem 0;
    background-color: var(--primary-background-color);
    color: var(--main-background-color);

    text-align: center;
    color: #8f8f8f;
    font-weight: 400;
    font-size: 1rem;
}

.iconeinsta {
    width: 50px;
}

footer>a {
    text-decoration: none;
    color: var(--main-background-color);
    padding: var(--spacing-4);

}

footer>p {
    margin: var(--spacing-4) 0 0 0;
}