footer {
    margin-top: 0;
    padding: 1rem 0;
    background-color: var(--primary-foreground-color);
    color: var(--primary-background-color);
    text-align: center;

    font-weight: 400;
    font-size: 1rem;
}

footer>a {
    text-decoration: none;
    color: var(--primary-background-color);
    padding: var(--spacing-4);

}

footer>p {
    display: inline-block;
    margin: var(--spacing-4) 0 0 0;
    text-align: left;
    background-color: var(--primary-foreground-color);

}