div>h2 {
    font-size: 1rem;
    color: var(--primary-foreground-color);
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    padding: 1rem;
    text-transform: none;
}

.title {
    background-color: var(--main-foreground-color);
    height: 30%;
    width: 100%;
    text-align: center;
    position: relative;
}

.separation {
    margin: 50px auto;
    width: 50%;
    min-width: 500px;
    height: 2px;
    background-color: var(--primary-background-color);
    border: none
}

form.container {
    justify-content: space-around;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 10%;
    flex-direction: column;
}

@media screen and (min-width: 768px) {


    .form_flex {
        display: flex;
        gap: 5rem;
        margin: 0 auto;
    }
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}

.form input,
textarea,
select {
    padding: 5px 8px;
    border: 2px solid rgb(236, 229, 229);
    width: 300px;
    margin: 20px auto;
}

label {
    text-align: center;
}

.form textarea {
    height: 150px;

}





.form button {
    border: 0rem;
    display: inline;
    padding: 5px 10px;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    /* background-color: var(--primary-background-color); */

}

.form button:hover {
    background-color: #E5E5E5;

}

#picture {
    margin-top: 10px;
    border: none;
}