h2 {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
}

.separation {
    margin: 50px auto;
    margin-right: auto;
    margin-left: auto;
    height: 1px;
    background-color: black;
    border: none
}

form.container {
    justify-content: space-around;
    display: flex;
    width: 80px;
    margin: 0 auto;
    padding: 10%;
    flex-direction: column;
}


.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90px;

}

.form input,
textarea,
select {
    padding: 5px 8px;
    margin-bottom: 15px;
    border: 2px solid rgb(236, 229, 229);
    margin-top: 20px;
}

@media screen and (min-width:768px) {
    .form_flex {
        display: flex;
        gap: 5rem;
    }
}



.form textarea {
    height: 200px;
    width: 320px;

}





.form button {
    border: 0rem;
    display: inline;
    padding: 5px 10px;
    width: 50px;
    margin: 0 50px;
    cursor: pointer;

}




.form button:hover {
    background-color: #E5E5E5;

}