main {

    margin: 0 auto;
    padding: 2rem;
    background: white;
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    max-width: 65ch;
    color: var(--primary-background-color);

}

@media screen and (min-width: 768px) {

    main {

        margin: 0 auto;
        padding: 5rem;
        width: 80%;
        background: #B1B8A9;
        /* box-shadow: 41px 41px 59px #959b8e,
            -41px -41px 59px #cdd5c4; */
    }

    .container {
        margin: 0 auto;
        max-width: 65ch;
        color: var(--primary-background-color);

    }

}