.logo-flex {
    display: flex;
    justify-content: center;
    width:200px;
    clip-path:ellipse(50% 50%);
    margin: 50px auto ;
}

.team {
    display: flex;
    justify-content: center;
    /*border: 1px solid;*/
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 15px;
}

.h2prez {
display: flex;
height: 30px;
}



















    /*margin-left: auto;
    margin-right: auto;
    margin-top: 40px;*/



/*.logo-grid {
    max-width: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 200px;
    /*gap: var(--spacing-4);
    margin: 0 auto;
}*/