.h2-left {
    text-align: left;
    color: var(--main-foreground-color);
    text-transform: uppercase;
    margin-left: auto;
}

.img-team {
    border-radius: 12px;
}


.container-presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.team {
    background-color: var(--main-foreground-color);
    color: var(--primary-foreground-color);
    margin-bottom: 20px;
}

.team-text {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    margin: 10px;
}

.dephants {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: -50px;

}

.p-team {
    display: flex;
    align-self: center;
    width: 90%;
    height: 100%;
    margin: 10px;
    margin-bottom: 30px;
}

.projets {
    background-color: var(--primary-background-color);
}

.h2-projet {
    text-align: right;
    color: var(--main-foreground-color);
    text-transform: uppercase;
    margin-top: 20px;
}

.cv {
    /* background-color: var(--primary-background-color); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    width: 100%;
    height: 100%;
    padding: 30px;
}

section.projets {
    width: 100%;
    height: 100%;
}

.cv-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    margin: 10px;
}

.cv-photo {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: -50px;
}

.p-cv {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-foreground-color);
    align-self: center;
    width: 65%;
    height: 100%;
    margin: 10px;
    padding: 10px;
}

.formation {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    color: var(--main-foreground-color);
    width: 100%;
    height: 100%;
    margin: 10px;
    margin-bottom: 50px;
}

.form-photo {
    display: flex;
    justify-content: end;
    margin-left: 20px;
    margin-top: -30px;
}

.p-formation {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    color: var(--main-foreground-color);
    align-self: center;
    width: 45%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    margin-bottom: -30px
}

.formation h3 {
    color: var(--main-foreground-color);
}

.trombinoscope h3 {
    color: white;
}

.container-trombinoscope {
    display: flex;
    flex-direction: column;
    background-color: var(--main-foreground-color);
    color: var(--primary-foreground-color);
    width: 100%;
    height: 100%;
    /* margin: 10px; */
    margin-bottom: -50px;
    padding: 2rem;
    gap: 2rem;
}

.p-trombinoscope {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-foreground-color);
    color: var(--main-foreground-color);
    align-self: center;
    height: 100%;
    margin: 10px;
    padding: 10px;
    margin-bottom: -30px
}

h3 {
    text-align: center;
    margin: 10px;
    color: var(--main-foreground-color);
}

.trombi-photo {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    margin-top: -100px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .team {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        margin-bottom: -20px;
    }

    .h2-projet {
        text-align: right;
        color: var(--main-foreground-color);
        text-transform: uppercase;
        margin-top: 90px;
    }

    .dephants {
        display: flex;
        align-self: center;
        margin: 60px;
        margin-bottom: -50px;
        max-width: 100%;
        height: auto;
        border-radius: 12%;
    }

    .container-presentation {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        margin-bottom: -20px;
    }

    .p-cv {
        border-radius: 12px;
        margin-bottom: -60px;
    }

    .cv-photo {
        display: none;
    }

    .p-formation {
        border-radius: 12px;
        width: 65%;
        margin-bottom: 50px;
    }

    .formation {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        margin-bottom: -20px;
    }

    .form-img {
        display: none;
    }

    .p-trombinoscope {
        border-radius: 12px;
    }

    .form-photo {
        display: none;
    }

    .trombi-photo {
        display: none;
    }


    @media screen and (max-width: 1024px) {
        .dephants {
            display: flex;
            justify-content: right;
            max-width: 100%;
            height: auto;
            border-radius: 2%;
        }

        .p-team {
            display: none;
        }

        .h2-projet {
            text-align: right;
            color: var(--main-foreground-color);
            text-transform: uppercase;

        }
    }
}