@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "/assets/main.css";
@import "/assets/header.css";
@import "/assets/form.css";
@import "/assets/footer.css";
@import "/assets/trombi.css";
@import "/assets/presentation.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background-color: #B1B8A9;
    --main-foreground-color: #616C5B;
    --primary-background-color: #424240;
    --primary-foreground-color: #F0F0F0;
    --spacing-1: .25rem;
    --spacing-2: calc(var(--spacing-1) * 2);
    --spacing-3: calc(var(--spacing-1) * 3);
    --spacing-4: calc(var(--spacing-1) * 4);
}


body {
    font-family: "Roboto", Verdana, sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    line-height: 1.5;
    background-color: var(--main-background-color);
    color: var(--primary-background-color);
}