main {
    box-sizing: content-box;
}

a {
    text-decoration: none;
    color: #5121d6;
}

span.hobbies {
    color: #5121d6;
}

/* Section background dans le main.css */


/* Section présentation wilders */

.trombi-grid {
    min-width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: var(--spacing-4); */
    margin: 0 auto;
}

.trombi-grid img {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    min-width: 175px;
    margin: 2rem;
    max-width: 300px;
}

.bg-responsive {
    display: none;
}

/* Ici il y a le hover pour les photos */
.photo-gris img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.photo-gris img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

/* .city {
    display: flex;
    justify-content: left;
} */


/* J'ai justifié le texte des photos de droite, à droite */
/*.justify-text-right {
    text-align: right;
}*/

/* J'ai créé une div qui inclus Nom, prénom + button */
.fullname-button {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-foreground-color);
    border-radius: 12px;
    width: 60%;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Voir pour l'icone, pour que le texte soit sur la même ligne */
img.icone {
    width: 25px;
    height: 25px;
}

/* ANIMATION BUTTON */
.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #5121d6;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: red(54, 54, 210, 0.1);
    box-shadow: rgba(54, 54, 210, 0.1) 0 4px 12px;
    color: #1C1C1E;
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* FIN ANIMATION BUTTON */

.grid-span-2 {

    grid-column: span 2;
}

.trombi-flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5rem;
    /* J'ai espacé chaque bloc */

}

.trombi-flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
    /* J'ai espacé chaque bloc */
}

@media screen and (max-width: 900px) {

    .trombi-flexbox-left {
        flex-direction: column;
    }

    .trombi-flex-right {
        flex-direction: column-reverse;
    }

    .fullname-button {
        width: 100%;
    }

    .bg-responsive {
        display: block;
    }
}